@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;1,700&display=swap');
.bienvenidas{
    background-color: #2b2c28;
    width: 100vw;
    height: 50vh;
    h1{
        color: crimson;
        
        span{
            font-family: "IBM Plex Sans", sans-serif;
            font-weight: 700;
            font-style: italic;
            color: beige;
        }
    }
}