.bienvenidas{
    background-color: #2b2c28;
    width: 100%;
    height: 75vh;
    h1{
        color: crimson;
        
        span{
            font-family: "IBM Plex Sans", sans-serif;
            font-weight: 700;
            font-style: italic;
            color: beige;
        }
    }
}