*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #131515;
}
.btn{
  background-color: #339989;
  color: #fff;
}

.btn:hover{
  background-color: #18584f;
  color: #fff;
}

strong, span{
  color: red
}